.container-fluid{
  padding-top: 20px ;
}

.container{
  padding-top: 30px;
}

.ng-autocomplete {
  width:50%;
  max-width: 600px;
  display: table;
  margin: 0 auto;
  padding-top: 10px;
}

h2{
  margin: 0 auto;
  text-align: center;
}

h3{
  margin-left: 135px;
  text-transform: capitalize;
  font-weight: bold;
  color: white;
}

button {
  background: #4bde5d;
  color: white;
  margin-left: 47%;
  margin-top: 25px;
}

mat-form-field {
  width:50%;
  max-width: 600px;
  display: table;
  margin: 0 auto;
  margin-top: 20px;
  background-color: white;

}

.datepicker{
  width: 27%;
}


